.jobs-statistic{
    margin: 30px 0px 0px 30px;
}

.jobs-statistic-components{
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
}

.jobs-statistic-components div{
    transition: 0.3s ease;
    /* border-bottom: 4px solid transparent; */
    margin: 0px 30px 0px 0px;
    padding: 20px;
}
.jobs-statistic-components div:hover{
    font-weight: bold;
    cursor: pointer;
    color: #007bff;
    font-size: 22px;
    border-bottom: 4px solid #007bff;
}
.selected-type{
    font-weight: bold;
    border-bottom: 4px solid #000000;
}
.job-card-statistic{
    margin: 10px 10px 10px 10px;
}
